DEBUG=
SECRET_KEY=
ALLOWED_HOSTS=localhost,127.0.0.1,api,your-domain.com
CSRF_TRUSTED_ORIGINS=http://localhost:3000,https://your-domain.com
FRONTEND_URL=https://your-domain.com
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
